h4 {
  font-family: sans-serif;
}
.logo-wissly {
  width: 150px;
  height: 50px;
}

.login-form {
  width: 300px;
  margin: auto;
}
src {
  text-align: 200px;
}
.form-group {
  margin-bottom: 20px;
}
.form-group-check {
  display: flex;
}
.rememberText {
  color: gray;
  font-size: 16px;
}
b {
  color: black;
}

label {
  margin-bottom: 0px;
  display: block;
  font-style: normal;
  color: gray;
}
input[type='email'],
input[type='password'] {
  width: 300px;
  height: 40px;
  font-size: 16px;
  border: 1px solid rgb(179, 175, 175);
  border-radius: 5px;
}

.login-button {
  width: 308px;
  height: 40px;
  background-color: rgb(191, 191, 224);
  font-size: 16px;
  color: blue;

  border: 1px solid rgb(179, 175, 175);
  border-radius: 5px;
  margin-bottom: 20px;
  cursor: pointer;
}
.login-button:hover {
  background-color: rgb(172, 199, 199);
}
.ssoTextBox {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ssoText {
  color: blue;
  text-align: center;
}
table-container {
  width: 300px;
  font-size: 16px;
  border: 1px solid rgb(148, 29, 29);
  border-radius: 5px;
}
